.content .avatar img {
  width: 45rem;
  height: auto;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .content .avatar img {
    width: 35rem;
 }
}

.navigation .navigation-title {
    letter-spacing: 0.1rem;
    text-transform: none;
}